.banner-suscribe,
.banner-suscribe-img,
.banner-suscribe-img img {
  width: 100%;
  position: relative;
  height: 500px;
}
.banner-suscribe {
  .banner-suscribe-img {
    background-image: url('../img/22589-1-2x.jpg');
    background-position: center;
    background-size: cover;
  }

  .container {
    .row {
      .banner-suscribe-text {
        position: relative;
        top: 0;
        left: 0;
        transform: translateY(-150%);
        color: #fff;
        text-shadow: 1px 1px 3px #000;

        p {
          margin: 1.5em auto;
        }
        button {
          background: transparent;
          color: #fff;
          text-shadow: 1px 1px 3px #000;
          border: solid 1px #fff;
          padding: 0.5em 2em;
          border-radius: 0.25em;
        }
      }
    }
  }
}
