.content-news{
  h2{
    margin-bottom: 1em;
  }

  #new-container{
    background-color: #fff;
    border-radius: .25em;

    .new{
      padding: 2em;
      position: relative;

      .img-new{
        max-height: 150px;
        position: relative;
        text-align: center;
      }
  
      .img-new, .img-new img{
        width: auto;
        max-width: 100%;
        height: 100%;
      }
  
      .titular{
        margin: 1em 0;
        text-align: justify;
        position: relative;
        height: 90px;
        overflow: hidden;
      }
  
      .summary{
        position: relative;
        bottom: 0;
        max-height: 198px;
        overflow: hidden;
  
        p{
          text-overflow: ellipsis;
          overflow: hidden;
          height: 198px;
        }
      }
    }
    
  }

  .btn-more{
    text-align: center;

    button{
      margin: 2em auto;
      margin-bottom: 5em;
    }
  }
}
