* {
  margin: 0;
  padding: 0;
}
.container {
  width: 70%;
}
.main {
  position: relative;
  padding-top: 91px;
  background-color: #f2f4f8;
  padding-bottom: 4em;
}
h1 {
  display: none;
}
.btn-more {
  text-align: center;

  button {
    margin: 2em auto;
    margin-bottom: 5em;
    height: 39px;
    width: 170px;
    background-color: #0073e9;
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
  }
}
@import 'header';
@import 'header-list';
@import 'header-user';
@import 'banner-info';
@import 'content-new';
@import 'banner-suscribe';
@import 'contact-us';
@import 'info-form';
