* {
  margin: 0;
  padding: 0;
}
.container {
  width: 70%;
}
.main {
  position: relative;
  padding-top: 91px;
  background-color: #f2f4f8;
  padding-bottom: 4em;
}
h1 {
  display: none;
}

@import 'header';
@import 'header-list';
@import 'header-user';
@import 'banner-info';
@import 'content-new';
@import 'banner-suscribe';
@import 'contact-us';
